@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600;700&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/img/bg1.jpg");
    height: 40rem !important;
    position: relative;
    background-size: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1300px, 100vw);

}

.main .box {
    height: 100%;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0%; 
    padding-bottom: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    height: 5rem;

}

nav img {
    color: red;
    width: 10rem;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    text-align:center;
    padding: 2rem;
}

.hero> :first-child {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 2rem;
    margin: 1rem 0 0;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 1rem;
}

.line {
    border: 0.25rem solid rgb(79, 78, 78);
    width: 100%;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(23, 23, 23, 0.5);
    color: white;
}

.main input:focus{
    box-shadow: inset 0 0 0 1px #ccc, 0 0 0 2px white;
}


.btn {
    padding: 3px 8px;
    color: white;
    font-weight: 400;
    background-color: rgba(241, 231, 231, 0.036);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 500;
}

.btn-red:hover{
    background-color: rgb(215, 46, 46);
}


.btn-red-sm {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    color: white;

}
section.first{
    padding: 3rem 0px;
    min-width: auto;

}

section.first>div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
}

.first>div :first-child {
    font-size: 2.7rem;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 1.2rem;
    font-weight: 500;
}


.secImg {
    position: relative;
    padding-left: 1rem;
 
}

#girl{
    padding-right: 1rem;
}

.secImg img {
    height: 100%;
    height: 100%;
    position: relative;
}

.secImg video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    max-width: 71.5%;
    max-height: 59%;
    top: 18%;
    left: 16%;
}

video{
object-fit: contain;
overflow-clip-margin: content-box;
overflow: clip;
}

.download{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* gap: 1rem; */
    position: absolute;
    z-index: 1;
    border: 1.5px solid white;
    background-color: black;
    padding: 0.3rem 0.75rem;
    top: 70%;
    left: 25.5%;
    border-radius: 0.8rem;
    width: 50%;
    /* height:20%; */
}
.part1{
    /* margin-right: 1rem; */
    flex-grow: 0;
    flex-shrink: 0;
    height: 5rem;
    width: 3rem;
    background:url(assets/img/boxshot.png);
    display: block;
    background-size: 100%;
}

/* .part1 img{
    height: 5rem
} */

.part2{
    text-align: left;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.35rem 0;
    padding-left: 0.5rem;
}

#A{
    font-size: 1.2rem;
    font-weight: 500;
    text-wrap: nowrap;
}

#B{
    font-size: 1rem;
    font-weight: 400;
    color: blue;
    /* text-align: left; */

}

.part3{
    width: 3rem;
    height: 3.75rem;
    background: url(assets/img/download-icon.gif);
    display: block;
    background-size: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

/* .part3 img{
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
} */

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faq h1 {
    text-align: center;
    font-size: 48px;
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    font-size: 1.3rem;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 1rem;
    max-width: 80vw;
    margin: 30px auto;
    cursor: pointer;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox:hover {
    background-color: #414141;
}

.faq-below{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   max-width: 80%;
   margin-top: 2.5rem;
   padding: 0px 2rem;
   margin: 0 auto;

}

/* ext-align: left;
    position: relative;
    margin: 1rem auto 0;
    width: 100%;
    max-width: 36.625rem; */

.faq-below-text{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
}

.faq-below-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1rem auto 0;
    gap: 0.5rem;
    width: 100%;
    line-height: 2rem;
    flex-wrap: wrap;

}

.faq-below-buttons input{
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(23, 23, 23, 0.5);
    color: white;
}

.faq-GS{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 500;
}

footer {
    color: white;
    padding: 34px;
    max-width: 60vw;
    margin: auto;
}
.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer a{
    font-size: 14px;
    color: white;
  }
  
  footer .questions{
      padding: 34px 0; 
      color: white;
  }



@media screen and (max-width:1300px){
    nav{
        max-width: 80vw;
    }
    nav img{
        width: 8rem;
    }
    .main .box{
       width: 100vw;
    }

    .first{
        flex-wrap: wrap;
     
    }
    section.first>div {
        text-align: center;
    }

    .secImg img {
        width: 100%;
    }
    .secImg video {
        width: 100%;
        inset: 0;
        margin: auto;
        bottom: 1rem;
    }
    .hero{
        padding: 0.8rem;
    }
    .hero> :first-child {
        font-size: 2rem;

    }
    .hero> :nth-child(2) {
        font-size: 1.4rem;
        font-weight: 100;
    }
    .hero> :nth-child(3) {
        font-size: 1.2rem;
        font-weight: 100;
    }
    
    .faq h1 {
        text-align: center;
        font-size: 2rem;
    }
    footer{
        max-width: 90vw;
    }

    .footer-item{
        text-align: left;
    }
}

@media screen and (max-width:1300px){
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 2rem;
    text-align: left;
}
}


@media screen and (max-width:600px){
    
    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .main input{
        width: 80%;
        .faq-below{
            max-width: 95%;
        }
    }
    }


@media screen and (max-width:620px){
    
      nav{
        max-width: 90vw;
      }
      nav img{
        width: 7rem;
      }
    }


@media screen and (max-width:320px){

    nav img{
        width: 6rem;
    }
    .hero{
        margin: 0 auto;
    }
 

    .first>div :first-child {
        font-size: 1.5rem;
        font-weight: bolder;
    }
    .first>div :nth-child(2) {
        font-size:1rem;
        font-weight: 200;
    }

    .faq h1{
        font-size: 1.2rem;
        font-weight: 900;
    }
   .faqbox{
    font-size: 1.2rem;
    font-weight: 100;
    padding: 1rem;
   }
    
   
}
@media screen and (max-width:315px){
    nav img{
        width: 6rem;
    }
    .hero-buttons{
        top:2px
    }
    
}
@media screen and (max-width:425px){
    .faqbox{
        padding: 1rem;
    }
    .faq-below{
        max-width: 60rem;
    }

}

@media screen and (max-width:715px){
    .faq-below-buttons input{
        width: 100%;
    
    }

}

@media screen and (max-width:1060px){

    .faq-below{
        max-width: 90%;
    }
    .faq-below-text{
        margin: 0;
        font-size: 1rem;
        font-weight: 100;
        line-height: 1.5rem;
    }
}

@media screen and (max-width:768px){
    .faq-below-text{
        margin: 0;
        font-size: 0.8rem;
        font-weight: 100;
        line-height: 1.5rem;
    }
    .main{
        height: 40rem !important;
    }

}
@media screen and (max-width:375px){

    .faq-below{
        max-width: 90%;
    }
}




@media screen and (max-width:768px){ 
.download{
    padding: 0.4rem 0.5rem;
    width: 60%;
    left:19%;
}
.part1{
    height: 4rem;
}
.part3{
    height: 3rem
}
#A{
    font-size: 0.8rem;
}
#B{
    font-size: 0.6rem;
}
}


@media screen and (max-width:600px){
    .part1{
        height: 3.5rem;
    }
    .part3{
        height: 2.5rem;
    }
}

@media screen and (max-width:600px){
    .part1{
        height: 3rem;
    }
    .part3{
        height: 2rem;
        background-size: 80%;
        background-repeat: no-repeat;
        /* padding-left: 1rem; */
    }
    .download{
        padding: 0.3rem 0.3rem;
        width: 70%;
        left:15%;
        
    }
}

@media screen and (max-width:450px){
    .download{
        padding: 0.3rem 0.3rem;
        width: 80%;
        left:10%;
    }

    .part1{
        height: 2.5rem;
        width: 1.8rem;
    }
    .part3{
        height: 1.5rem;
        background-size: 60%;
    }
}

@media screen and (max-width:375px){
    #Girl-text{
 padding-top: 1.5rem;
}
}

@media screen and (max-width:275px){
    .download{

        display: none;
    }

}

@media screen and (max-width:340px){

    .faq-GS{
        font-size: 10px;
    }
}

@media screen and (max-width:250px){

    .btn-red{
        font-size: 10px;
    }
}